<div>
<p>npm install jquery@^2.2.4 --save</p>
instala jquery para o materialize

<p>npm install angular2-materialize --save</p>
instala materialize no angular 2

<p>npm install materialize-css --save</p>
instala as dependencias css no angular 2

<p>npm install --save bootstrap@next</p>
faz a instalação das lib bootstrap e jquery no angular 2
</div>


<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

<h1 *ngFor = "let item of list">{{item}}</h1>